@{
    ViewBag.Title = "Index";
}
@using EFCodeFirst.Model.ViewModel;
@model EFCodeFirst.Model.TApply
<style type="text/css">
    .bodycontent {
        color: black;
        margin-left: 50px;
    }

    .field-validation-error {
        color: red;
    }
</style>
@section headSection{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/ModalForm.js"></script>
    <script type="text/javascript">
        $(function () {
            ajax(pageIndex);
            $('#seachBtn').click(function () {
                ajax(1);
            });
            // $('#btnPrint').click(PrintInfo);

            $("#btnSave").click(function () {
                var actionUrl = $("#modal-content").attr("action");
                var $form = $("#modal-content");
                $.ajax({
                    type: "POST",
                    url: actionUrl,
                    data: $form.serialize(),
                    success: function (result) {
                        var resarr = result.split(':');
                        if (resarr[0] == 'yes') {
                            toastr.success(resarr[1]);
                            $('#modal-form').modal('hide');
                            //GetBillList();
                            ajax(pageIndex);
                        }
                        else {
                            toastr.error(resarr[1]);
                        }
                    },
                    error: function () {
                        toastr.error('网络错误，请重新提交！');
                    }
                });
            });
        })
        //ajax分页

        var pageIndex = 1;
        function ajax(page) {
            var search = $('#seachName').val();
            var pagesize = 10;
            $.post("/Tender/Accept/Index", { "pageIndex": page, "pageSize": pagesize, "seachValue": search }, function (data) {
                var jsonData = JSON.parse(data);
                initPage(jsonData.totalCount, jsonData.row, pagesize, page);
            });
        }

        function initPage(totalCount, list, pagesize, index) {

            $('#pagination').jqPaginator({
                pageSize: pagesize,
                totalCounts: totalCount == 0 ? 1 : totalCount,
                visiblePages: 5,
                currentPage: index,
                first: '<li class="first"><a href="javascript:void(0);">首页<\/a><\/li>',
                prev: '<li class="prev"><a href="javascript:void(0);">上一页<\/a><\/li>',
                next: '<li class="next"><a href="javascript:void(0);">下一页<\/a><\/li>',
                last: '<li class="last"><a href="javascript:void(0);">末页<\/a><\/li>',
                page: '<li class="page"><a href="javascript:void(0);">{{page}}<\/a><\/li>',
                onPageChange: function (num, type) {
                    pageIndex = num;
                    //    var jsonData = JSON.parse(data);
                    if (type !== 'init') {
                        ajax(num);
                    };
                    var tablelist = document.getElementById('tableList');
                    var tableBody = tablelist.getElementsByTagName('tbody')[0];
                    tableBody.innerHTML = "";
                    var xuhao = (num - 1) * pagesize;
                    for (var i = 0; i < list.length; i++) {
                        xuhao += 1;
                        var tr = tableBody.insertRow(-1);
                        tr.insertCell(-1).innerHTML = xuhao;
                        tr.insertCell(-1).innerHTML = list[i].ApplyId;
                        tr.insertCell(-1).innerHTML = list[i].ApplyName;
                        tr.insertCell(-1).innerHTML = list[i].PlanType == 1 ? "月度计划" : "年度计划";
                        tr.insertCell(-1).innerHTML = GetAppState(list[i].ApplyState);
                        tr.insertCell(-1).innerHTML = list[i].ProjectType == 1 ? "公开招标" : "邀请招标";
                        tr.insertCell(-1).innerHTML = GetProName(list[i].UserInfo.RealName);
                        tr.insertCell(-1).innerHTML = list[i].Role.RoleName;
                        tr.insertCell(-1).innerHTML = ((list[i].CreateTime).replace(/T/, ' ')).substring(0, 19);
                        tr.insertCell(-1).innerHTML = '<a href="javascript:Review(' + list[i].Id + ')" class="btn btn-info"><span class="icon-cog"></span>受理</a>';
                    }
                    // })
                }
            });
        }

        function Review(id) {
            var actionUrl = "@Url.Action("Accept")";
            var param = { 'Id': id };
            //ShowModal(actionUrl, param, "招标委托审核");
            $.ajax({
                type: 'post',
                url: actionUrl,
                data: param,
                success: function (result) {
                    var resarr = result.split(':');
                    if (resarr[0] == 'yes') {
                        toastr.success(resarr[1]);
                        //GetBillList();
                        ajax(pageIndex);
                    }
                    else {
                        toastr.error(resarr[1]);
                    }
                }
            });
        }
        function GetAppState(id) {
            var result;
            if (id == 1) {
                result = '<span class="label label-info">待审核</span>';
            }
            else if (id == 2) {
                result = '<span class="label label-info">待分派</span>';
            }
            else if (id == 3) {
                result = '<span class="label label-info">待受理</span>';
            }
            else if (id == 4) {
                result = '<span class="label label-info">待发布</span>';
            }
            else if (id == 5) {
                result = '<span class="label label-success">已完成</span>';
            }
            else if (id == 6) {
                result = '<span class="label label-warning">以驳回</span>';
            } else {
                result = '<span class="label label-important">状态异常</span>';
            }
            return result;
        }
        function GetProName(name) {
            var result = name;
            if (name == "未分配") {
                result = '<span class="label label-important">未分配</span>';
            }
            return result;
        }

        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }

    </script>
}

@{
    var mol = ViewBag.bread as ViewMenu;
}
<div id="content-header">
    <div id="breadcrumb"> <a href="@mol.url/@mol.Id" title="" class="tip-bottom"><i class="icon-home"></i> @mol.text</a></div>
</div>
<br />
<div class="bodycontent">
    <div class="row">
        <input type="text" name="seachName" id="seachName" placeholder="编号或名称" />
        <button class="btn btn-default" id="seachBtn" style="margin-top:-10px"><span class="icon-search"></span> 查询</button>
    </div>
    <div class="row">
        <table id="tableList" class="table table-responsive table-hover">
            <thead>
                <tr>
                    <td>序号</td>
                    <td>招标编号</td>
                    <td>项目名称</td>
                    <td>计划类型</td>
                    <td>招标状态</td>
                    <td>招标类型</td>
                    <td>项目经理</td>
                    <td>审核人员</td>
                    <td>添加时间</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="row pull-right">
        <ul class="pagination" id="pagination"></ul>
    </div>

    @*@Ajax.ActionLink("Add Person", "Add", new { area = "Admin", controller = "User" },new AjaxOptions() { HttpMethod = "get", UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnComplete = "onComplete" },new { id = "btnPerson", @class = "btn btn-lg btn-info" })*@
</div>

@Html.Partial("_ModalForm")
