@model EFCodeFirst.Model.TApply

<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<fieldset>
    <legend>TApply</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ApplyId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplyId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ApplyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplyName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.BillTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BillTypeId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ApplyUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplyUser)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ApplySum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplySum)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ApplyRemark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplyRemark)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ExaminationUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExaminationUser)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProjectManager)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectManager)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.IsDelete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDelete)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateTime)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ReviewTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReviewTime)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.NoticeTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoticeTime)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.AssignTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssignTime)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompanyIds)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyIds)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
