@{
    ViewBag.Title = "Index";
}
@using EFCodeFirst.Model.ViewModel;
@model EFCodeFirst.Model.TApply
<style type="text/css">
    .bodycontent {
        color: black;
        margin-left: 50px;
    }

    .field-validation-error {
        color: red;
    }
</style>
@section headSection{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/ModalForm.js"></script>
    <script type="text/javascript">
        $(function () {
            ajaxSend();
            $('#seachBtn').click(ajaxSend);
        });
        //ajax分页
        function ajaxSend() {
            var search = $('#seachName').val();
            $.post("/Tender/Tapplys/Total", { "seachValue": search }, function (msg) {
                var jsonMsg = JSON.parse(msg);
                var pagesize = 10;
                $('#pagination').jqPaginator({
                    pageSize: pagesize,
                    totalCounts: jsonMsg.total == 0 ? 1 : jsonMsg.total,
                    visiblePages: 5,
                    currentPage: 1,
                    onPageChange: function (num, type) {
                        $.post("/Tender/Tapplys/Index", { "pageIndex": num, "pageSize": pagesize, "seachValue": search }, function (data) {
                            var jsonData = JSON.parse(data);
                            var tablelist = document.getElementById('tableList');
                            var tableBody = tablelist.getElementsByTagName('tbody')[0];
                            tableBody.innerHTML = "";
                            var xuhao = (num - 1) * pagesize;
                            for (var i = 0; i < jsonData.row.length; i++) {
                                xuhao += 1;
                                var tr = tableBody.insertRow(-1);
                                tr.insertCell(-1).innerHTML = xuhao;
                                tr.insertCell(-1).innerHTML = jsonData.row[i].ApplyId;
                                tr.insertCell(-1).innerHTML = jsonData.row[i].ApplyName;
                                tr.insertCell(-1).innerHTML = jsonData.row[i].PlanType == 1 ? "月度计划" : "年度计划";
                                tr.insertCell(-1).innerHTML = GetAppState(jsonData.row[i].ApplyState);
                                tr.insertCell(-1).innerHTML = jsonData.row[i].ProjectType == 1 ? "公开招标" : "邀请招标";
                                tr.insertCell(-1).innerHTML = GetProName(jsonData.row[i].UserInfo.RealName);
                                tr.insertCell(-1).innerHTML = jsonData.row[i].Role.RoleName;
                                tr.insertCell(-1).innerHTML = ((jsonData.row[i].CreateTime).replace(/T/, ' ')).substring(0, 19);
                                tr.insertCell(-1).innerHTML = '<a href="javascript:DeleteTapply(' + jsonData.row[i].Id + ')" class="btn btn-danger"><span class="icon-remove"></span></a><a href="javascript:DetailTapply(' + jsonData.row[i].Id + ')" class="btn btn-info"><span class="icon-search"></span></a>';
                            }
                        })
                    }
                });
            });
        }
        function DeleteTapply(id) {
            layer.confirm('您确定要删除吗？', { icon: 2, title: '警告' }, function (index) {
                layer.close(index);
                debugger;
                //alert(id);
                $.ajax({
                    type: "post",
                    url: "/Tender/Tapplys/DeleteTapply",
                    data: { "Id": id },
                    success: function (result) {
                        var resarr = result.split(':');
                        if (resarr[0] == 'yes') {
                            toastr.success(resarr[1]);
                            ajaxSend();
                        } else {
                            toastr.error(resarr[1]);
                        }
                    },
                    error: function () {
                        toastr.error('网络错误，请重新提交！');
                    }
                });
            });
        }
        function DetailTapply(id) {
            var actionUrl = "@Url.Action("Detail")";
            var param = { 'Id': id };
            ShowModal(actionUrl, param, "招标委托详情");
        }
        function GetAppState(id) {
            var result;
            if (id == 1) {
                result = '<span class="label label-info">待审核</span>';
            }
            else if (id == 2) {
                result = '<span class="label label-info">待分派</span>';
            }
            else if (id == 3) {
                result = '<span class="label label-info">待受理</span>';
            }
            else if (id == 4) {
                result = '<span class="label label-info">待发布</span>';
            }
            else if (id == 5) {
                result = '<span class="label label-success">已完成</span>';
            }
            else if (id == 6) {
                result = '<span class="label label-warning">以驳回</span>';
            } else {
                result = '<span class="label label-important">状态异常</span>';
                return result;
            }
            return result;
        }
        function GetProName(name) {
            var result = name;
            if (name == "未分配") {
                result = '<span class="label label-important">未分配</span>';
            }
            return result;
        }
        function AddComplete(msg) {
            alert(msg);
        }

        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
        //打开添加用户窗体
        function onComplete() {
            $('#myModal').modal('show');
        }

    </script>
}

@{
    var mol = ViewBag.bread as ViewMenu;
}
<div id="content-header">
    <div id="breadcrumb"> <a href="@mol.url/@mol.Id" title="" class="tip-bottom"><i class="icon-home"></i> @mol.text</a></div>
</div>
<br />
<div class="bodycontent">
    <div class="row">
        <a id="btnPerson" class="btn btn-lg btn-info" data-ajax="true" data-ajax-complete="onComplete" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#modalContent" href="/Admin/User/Add"><span class="icon-plus"></span> 添加</a>
        <button class="btn btn-danger"><span class="icon-minus"></span> 删除</button>
        <div class="pull-right">
            <input type="text" name="seachName" id="seachName" placeholder="用户名或姓名" />
            <button class="btn btn-default" id="seachBtn" style="margin-top:-10px"><span class="icon-search"></span> 查询</button>
        </div>
    </div>
    <div class="row">
        <table id="tableList" class="table table-responsive table-hover">
            <thead>
                <tr>
                    <td>序号</td>
                    <td>招标编号</td>
                    <td>项目名称</td>
                    <td>计划类型</td>
                    <td>招标状态</td>
                    <td>招标类型</td>
                    <td>项目经理</td>
                    <td>审核人员</td>
                    <td>添加时间</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="row pull-right">
        <ul class="pagination" id="pagination"></ul>
    </div>

    @*@Ajax.ActionLink("Add Person", "Add", new { area = "Admin", controller = "User" },new AjaxOptions() { HttpMethod = "get", UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnComplete = "onComplete" },new { id = "btnPerson", @class = "btn btn-lg btn-info" })*@
</div>
@Html.Partial("_IndexModalForm")

